<h1>Bloc Chat</h1>
<div ng-controller="AddRoomCtrl as addRoom">
   <button ng-click="addRoom.open()">Add Room</button>
</div>
<div ng-repeat="room in home.rooms">
   <a class="chatroom" ng-click="home.selectRoom(room.$id)">{{ room.$value }}</a>
</div>
<div ng-repeat="message in home.messages">
   <p class="message">{{ message.content }}</p>
</div>
<div class="container">
      <div class="col-xs-6">{{ home.currentRoom }}</div>
</div>
<form ng-show="home.currentRoom" ng-submit="home.sendMessage()">
  New Message:
  <input type="text" ng-model="home.messageInput" name="text" />
  <input type="submit" id="submit" value="Submit" />
</form>
